@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Migra';
  src: url('/fonts/PPMigra-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Migra';
  src: url('/fonts/PPMigra-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html,
  body {
    @apply max-w-full overflow-x-hidden font-montreal text-white bg-black;
  }
  
  a {
    @apply text-inherit no-underline;
  }

}

